page{
    //在  goods_info  里面加上样式也是有效的
    padding-bottom: 90rpx;
}

//轮播图
.detail_swiper{

    swiper{

        height: 61vw;
        text-align: center;

        image{
            width: 60%;
        }
    }
}

//价格
.goods_price{
    font-size: 30rpx;
    font-weight: bolder;
    color:red;
    padding: 18rpx 10rpx;;

}

//商品介绍
.goods_name_row{
    display: flex;
    border-top:5rpx solid #dedede;
    border-bottom:5rpx solid #dedede;
    padding: 10rpx 0;

    .goods_name{
        flex:5;
        color: black;
        font-size: 30rpx;
        padding: 0 10rpx;
        border-right: 1px solid rgb(10, 10, 10);
        word-break:break-all;

        //以下四行为只保留两行的文字内容，其他多的就隐藏
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
    }

    .goods_collect{
        flex:1;
        text-align: center;

        .iconfont{

        }

        .collect_text{
            

        }

       

    }

    
    
}

//图文详情
.goods_info{

    .info_title{
        color:red;
        font-size:33rpx;
        font-weight: bolder;
        padding:21rpx 16rpx;

    }

    .info_content{


    }
}

//底部工具栏
.bottom_tool{
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    height: 90rpx;
    border-top: 2rpx solid rgb(170, 164, 164);
    background-color: #f7f2f2;
    display: flex;

    .tool_item{

        flex: 1;
        display: flex;
        flex-direction: column;//改变主轴方向为上下方向
        justify-content: center;
        align-items: center;
        position: relative;

        button{
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            opacity: 0;

        }
    }

    .btn-cart{
        flex:2;    
        // display: flex;

        color:white;
        background-color:#ffa500;
        font-weight: 520;
        font-size:30rpx;
    }

    .btn-buy{
        flex:2;    
        // display: flex;111111111

        color:white;
        background-color: #ff0000;
        font-weight: 520;
        font-size:30rpx;
    }

    .hove_bgc{
        background-color: #fff;
    }
}









